@use 'sass:math';

// Recreates the pattern of boxes with a cross pattern between them used in the Genesys books' backgrounds.
@mixin crossboxes($bg-color: #f1ede8, $deco-color: #e7e3de, $size: 64px) {
	background-color: $bg-color;
	background-position: (-1 * math.div($size, 3)) (-1 * math.div($size, 4));
	background-size: $size ($size * 2);
	background-repeat: repeat;
	background-image: linear-gradient(to right, $deco-color 0px, transparent 2px), linear-gradient(to bottom, $deco-color 0px, transparent 2px, transparent 50%, $deco-color 50%, transparent calc(50% + 2px)),
		linear-gradient(to bottom right, transparent 0%, transparent 50%, $deco-color calc(50% - 1px), $deco-color calc(50% + 1px), transparent calc(50% + 1px)),
		linear-gradient(to top right, transparent 0%, transparent 50%, $deco-color calc(50% - 1px), $deco-color calc(50% + 1px), transparent calc(50% + 1px));
}
