/**
* Bebas Neue Regular is available under the Open Font License (https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
*/

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}
