/**
 * Roboto Condensed is available under the Apache 2.0 License. (https://www.apache.org/licenses/LICENSE-2.0)
 */

@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
