/**
 * Roboto Slab is available under the Open Font License (https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
 */

@font-face {
	font-family: 'Roboto Slab';
	src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('opentype-variations');
	font-weight: 100 900;
	font-style: normal;
}
