/**
 * Roboto Serif is available under the Open Font License (https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
 */

@font-face {
	font-family: 'Roboto Serif';
	src: url('assets/fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('opentype-variations');
	font-weight: 100 900;
	font-stretch: 50% 150%;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Serif';
	src: url('assets/fonts/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf') format('opentype-variations');
	font-weight: 100 900;
	font-stretch: 50% 150%;
	font-style: italic;
}
