$red: #90231e;

$light-blue: #71c6ff;
$blue: #2b4b73;
$dark-blue: #384455;

$gold: #efaf61;
$orange: #f36c21;

$die-ability: #41ad49;
$die-difficulty: #522380;
$die-proficiency: #fff200;
$die-challenge: #761213;
$die-boost: #72cddc;
$die-setback: #1e1e1e;
